<h1> Homepage do site </h1>

<%= link_to 'Livros', books_path %>
<%= link_to 'Autores', authors_path %>

<% if current_user %>
  <h1 class="text-danger"> <%= current_user.email %></h1>
<% else %>
  <h1 class="text-danger"> Nenhum usuário logado</h1>
<% end %>